html, body {
	font-family: 'Lato','Myriad Pro';
	height: 100%;
	width: 100%;
	padding-top: 75px;
}

#hero {
	background-image: url('../images/girios-banner.png');
	width: 100%;
	height: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* Navigation Menu */

.wrapper {
	height: 70px;
	width: 100%;
}

.main-nav {
	display: inline-block;
}

.main-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	padding: 0;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.76);
	top: 0;
	right: 0;
	padding: 0.5%;
	width: 100%;
}

.link {
	display: inline-block;
	padding-right: 40px;
}

.link a {
	color: #75c586;
	text-transform: uppercase;
	text-decoration: none;
    letter-spacing: 2px;
	font-size: 20px;
}

.link a:hover {
    color: #b8df74;
}   

/* Apie Mus */

section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#section-1 {
	display: flex;
	flex-direction: column;
} 

.flex_wrapper2 {
	margin: 0 5% 0;
}

.title, .title1 { 
	font-family: 'Amatic SC';
	text-align: center; 
    color: #6b8a60;
	font-size: 350%; 
    font-weight: 300;
}

.title {
	padding: 5% 0 5%;
}

/* Produkcija */

#section-2 {
	margin: 0 5% 0;
}

.text, .story {
	display: inline-block;
	font-size: 18px;
    color: #848789;
	font-weight: 400; 
    word-spacing: 2px;
    line-height: 1.8em;
    margin: 1%;
	letter-spacing: 1px;
}

.photo {
	width:49%;
	height: 400px;
}

/* Galerija */

#section-3 {
	padding: 8px;
}

.img-row > .column {
  	padding: 0 8px;
}

.img-row:after {
  content: "";
  display: table;
  clear: both;
}

.img-row {
   	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 8px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  //background-color: rgba(255, 255, 255, 0.76);
  background-color: rgba(1, 1, 1, 0.9);
	
}

/* Modal Content */
.mySlides img {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 1% auto;
  padding: 0;
  width: 70%;
}

/* The Close Button */
.close {
  color: rgba(245, 245, 245, 0.69);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 300%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b8df74;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 15%;
  margin-top: -50px;
  color: rgba(245, 245, 245, 0.69);
  font-weight: bold;
  font-size: 200%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	color: #b8df74;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.column img {
	width:400px;
	height:300px;
	padding-bottom: 3%;
}

/* Footer */

#section-4 {
	background: #a6cc99;
	padding-bottom: 2%; 
}

#section-4  .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 5% 0;
}

.title1 {
	padding: 3%;
}

a, p {
	list-style: none;
	text-decoration: none;
	color: #457776;
	text-align: center;
	line-height: 200%;
	margin: 20%;
}

.left, .right {
	text-align: center;
	font-size: 110%;
}

.left i {
	font-size: 150%;
	margin-right: 5%;
}


.middle i  { 
	font-size: 200%;
	text-align: center;
}

/* Media Queries */

@media only screen and (max-width:780px) {

/* Mobile navigation */	
	
	
.burger-container{
    position: absolute;
  	width: 100px;
	right: 0;
}

.burger{
    cursor: pointer;
    display: block;
}

.burger:before,
.burger:after{
	content: "";
    background: #a6cc99;
    display: block;
    width: 60px;
    height: 10px;
    margin: 12px 0;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

.burger-container.open .burger:after{
    transform: rotate(45deg);
	top: -12px;
}

.burger-container.open .burger:before{
    transform: rotate(-45deg);
    top: 12px;
}

.main-nav {
	display: none;
	color: #a6cc99;
	background-color: transparent;
	position: relative;
}

.main-nav li {
	list-style-type: none;
	background-color: white;
}

.burger-container.open .main-nav {
	display: inline-grid;
	cursor: pointer;
}
	
.prev,
.next {
	top: 30%;
}
	
	
}

@media only screen and (max-width: 480px){
	
	#section-4  .row {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3%;
	}
	
	.middle {
		text-align: center;
	}

.prev,
	.next,
		.close	{
	position: sticky;
	padding: 5%;
			top:0;
}
	
}
	

